.container {
  box-shadow: -16px 0px 20px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.25s linear, box-shadow 0.25s linear;
}

.img {
  vertical-align: bottom;
  max-width: 100%;
}

.container:hover {
  box-shadow: -10px 0px 20px 0px rgba(0, 0, 0, 0.4);
  transform: scale(1.025);
}

.heading {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.02em;
}
