* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Libre Baskerville';
  font-size: 16px;
  line-height: 1.25;
  background-color: #f3f3f3;
  background-repeat: no-repeat;
  color: #666;
}
