.container {
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  padding: 25px 20px;
  background-image: url('./card-bg.jpg');
  background-color: #1b243e;
  background-size: cover;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1b243e;
    opacity: 0.9;
  }

  @media all and (min-width: 768px) {
    margin-bottom: 50px;
    padding: 50px 20px;
  }
}

.content {
  position: relative;
  z-index: 2;
}

.heading {
  margin: 0;
  font-family: 'Libre Baskerville';
  font-size: 32px;
  font-weight: normal;
  color: #d69e4f;

  @media all and (min-width: 641px) {
    font-size: 40px;
  }

  @media all and (min-width: 768px) {
    font-size: 50px;
  }
}

.subheading {
  font-family: 'Libre Franklin';
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: #d69e4f;
}

.icon {
  fill: #d69e4f;
  margin-bottom: 24px;
}
