.container {
  overflow: hidden;
  margin-bottom: 50px;
  background-color: #35302c;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
}

.heading {
  font-family: 'Libre Baskerville';
  font-size: 50px;
  line-height: 40px;
  font-weight: normal;
  text-align: center;
  color: #c18e45;
  text-shadow: 1px 1px #e6c18c;
}

.subheading {
  font-family: 'Libre Franklin';
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
}
